* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Work Sans", sans-serif;
}

:root {
  --h1-font: 3.8rem;
  --h2-font: 2.5rem;
  --p-font: 1.1rem;

  --bg-color: #121b25;
  --text-color: #ffffff;
  --main-color: #1aa090;
  --other-color: #d6d6d6;
}

::-webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1rem red inset;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.8);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 1);
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* ------------------Header---------------------------- */
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 10%;
  transition: all 0.5s ease;
}
header.sticky {
  padding: 8px 10%;
  background: #101821;
}
.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  display: flex;
}
.navbar a {
  padding: 10px 25px;
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--other-color);
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: var(--text-color);
}
.h-btn {
  display: flex;
  align-items: center;
}
.h-btn2 {
  display: inline-block;
  background: var(--main-color);
  padding: 10px 18px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  transition: all ease 0.5s;
}
.h-btn1 {
  color: var(--other-color);
  font-weight: 500;
  font-size: 18px;
}

.h-btn2:hover {
  transform: translateX(-7px);
}

#menu-icon {
  font-size: 36px;
  margin-left: 5px;
  color: var(--text-color);
  z-index: 1001;
  cursor: pointer;
  display: none;
}

section {
  padding: 115px 7% 70px;
}
/* ------------------Home---------------------------- */

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  transition: all ease 0.5s;
}

.home-img {
  width: 540px;
  height: 400px;
}
.home-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-text h1 {
  font-size: var(--h1-font);
  line-height: 1.2;
  margin-bottom: 20px;
}

.home-text p {
  font-size: var(--p-font);
  color: var(--other-color);
  line-height: 30px;
  margin-bottom: 2.5rem;
}

.h-search form {
  position: relative;
  width: 410px;
  max-width: 100%;
}

.h-search form input:first-child {
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 0.7rem;
  display: inline-block;
  padding: 17px 130px 16px 15px;
}

.h-search form input:last-child {
  display: inline-block;
  position: absolute;
  padding: 12px 30px;
  background: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 0.7rem;
  top: 6px;
  right: 6px;
  font-size: 14px;
  box-shadow: 0 0 5px #fff, 0 0 15px #868686;
}

/* ---------------------Feature--------------------------------- */

.feature {
  padding: 60px 10% 50px;
}

.center-left h2 {
  font-size: var(--h2-font);
}
.feature-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
}
.f-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.6rem;
}

/* ---------------------Property--------------------------------- */

.property-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 4.5rem;
}

.row {
  position: relative;
  cursor: pointer;
}
.row img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.row h5 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.row p {
  font-size: var(--p-font);
  color: var(--other-color);
  margin-bottom: 20px;
}
.list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.list a {
  color: var(--text-color);
  font-size: var(--p-font);
}
.Residence-list i {
  font-size: 18px;
  color: var(--main-color);
}
.center-btn {
  text-align: center;
  margin-top: 4rem;
}

.btn {
  display: inline-block;
  padding: 18px 28px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 17px;
  font-weight: 500;
  transition: all ease 0.5s;
}
.btn:hover {
  transform: translateY(-7px) scale(0.9);
}

/* ---------------------About--------------------------------- */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 25px;
}
.about-text p {
  color: var(--other-color);
  font-size: var(--p-font);
  margin-bottom: 50px;
  line-height: 30px;
}

/* ---------------------Subscribe--------------------------------- */

.subscribe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: url("/images/h1.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 2rem;
  border-radius: 20px;
}

.subscribe-content h2 {
  font-size: var(--h2-font);
  margin-bottom: 12px;
}
.subscribe-content p {
  line-height: 30px;
  margin-bottom: 27px;
  font-size: var(--p-font);
}

/* ---------------------Contact--------------------------------- */

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 2rem;
}
.contact-content h4 {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.contact-content li {
  margin-bottom: 16px;
}

.contact-content li a {
  display: block;
  color: var(--other-color);
  transition: all ease 0.5s;
  font-size: 15px;
  font-weight: 400;
}
.contact-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: var(--text-color);
}

.contact-content p {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin: 20px 0;
}

.icons a {
  display: inline-block;
  font-size: 22px;
  color: var(--other-color);
  margin-right: 17px;
  transition: all ease 0.5s;
}

.icons a:hover {
  transform: translateY(-3px);
}

/* ---------------------Media Queries--------------------------------- */

@media (max-width: 1790px) {
  header {
    padding: 18px 6%;
  }
  header.sticky {
    padding: 8px 6%;
  }
  section {
    padding: 115px 3% 70px;
  }
  .feature {
    padding: 40px 6% 30px;
  }
}

@media (max-width: 1425px) {
  :root {
    --h1-font: 3.4rem;
    --h2-font: 2rem;
    --p-font: 1rem;
  }
  .home-img {
    width: 440px;
    height: 370px;
  }
  .home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  header {
    padding: 15px 5%;
  }
  header.sticky {
    padding: 8px 5%;
  }
  .feature {
    padding: 40px 5% 30px;
  }
}
@media (max-width: 1170px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 270px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    background: #101821;
    transform: translateX(100%);
    padding: 20px 15px;
    gap: 0.5rem;
    transition: all ease 0.5s;
  }
  .navbar a {
    display: block;
    font-size: 20px;
    padding: 15px;
  }
  .navbar.open {
    transform: translateX(0);
  }
  :root {
    --h1-font: 3rem;
    --h2-font: 1.8rem;
    --p-font: 1rem;
  }
  .home {
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 120vh;
  }
  .home-text {
    order: 2;
    width: 100%;
    max-width: 900px;
  }
  .home-img {
    width: 440px;
    height: 440px;
    margin: auto;
  }
  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 570px) {
  :root {
    --h1-font: 2.2rem;
    --h2-font: 1.5rem;
    --p-font: 15px;
  }
  .home {
    gap: 15px;
    height: 110vh;
    margin-bottom: 2rem;
  }
  .home form {
    width: 320px;
    max-width: 100%;
    margin: auto;
  }
  .home-img {
    width: 340px;
    height: 340px;
    padding-top: 10px;
  }
  .subscribe-content {
    padding: 4rem 1rem;
  }
}
